/*Color pallette
Saphire Blue - 2E6690
Celadon Blue - 3A7CA5
Gainsboro (Dirty White) - D9DCD6
Indigo Dye - 16425B
Dark Sky Blue - 81C3D&
*/

body{
    font-family: 'Acme', sans-serif;
    margin:auto;
}

h1{
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    color: #16425B;
}

h2{
    font-family: 'Fredoka One', cursive;
    font-size: xxx-large;
    color: #16425B;
}

/*Landing Page*/
.homeContainer{
    display: flex;
    min-height: 100vh;
}

.flexSide{
    width: 100%;
    margin-right: 5px;
}

#landing-logo{     /*logo*/
    width: 110px;
}

/*left side of landing page*/
.left{      
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.content-wrapper{ 
    align-content: center;
    min-width: 30%;
    
    width: 30%;
    padding: 10px;
    border: 3px solid rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    background-color: #3a7ca594;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: large;
}

.header-content{    /*header*/
    display:flex;
    justify-content: center;
    align-items: center;
} 

.userInfo{     /*Log In / Sign Up*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: large;
    
}



input[type=text] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

input[type=password] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

input[type=email] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

input[type=date] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

input[type=zipcode] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

input[type=username] {
    text-align: center;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 6px;
}

.btn{
    font-family: 'Fredoka One', cursive;
    font-size: large;
    color: #16425B;
    background-color: white;
    width: 90px;
    height: 55px;
    margin: 8px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    border: 2px solid;
    border-radius: 6px;
    cursor:pointer;
    white-space: nowrap;
    transition-duration: .3s;
}

.btn::after, .btn:hover, .btn:active{
    box-shadow: 0 0 20px rgb(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer{    /*footer*/
    display: flex;
    font-size: large;
    align-content: flex-end;
    }
/*end of left side*/


/*right side of landing page*/
.landing-bg{
    height: 100%;
    background-color: #d9dcd641;
}

.right{
    /*(background-image: url(/images/music-continuous-line-drawing-with-headphone-gadget-vector.jpg);
    background-position: center;*/
    background: linear-gradient(to left, #3a7ca5, rgba(255, 255, 255, 0)); 
}
/*end of right side*/
/*end of Landing Page*/