/*Color pallette
Saphire Blue - 2E6690
Celadon Blue - 3A7CA5
Gainsboro (Dirty White) - D9DCD6
Indigo Dye - 16425B
Dark Sky Blue - 81C3D&
*/

/*Home Page*/
.b-body{
    background: linear-gradient(to left, #3a7ca5, rgba(255, 255, 255, 0.445)); 
    min-width: 400px;
    min-height: 500px;
}
.homepageContainer{
    max-width: 85%;
    margin: auto;
    display: flex;
    min-height: 100vh;
}
/*Left*/
.sidePart{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid #16425b42;
    min-width: 25%;
    width: max-content;
    padding: 10px;
}

#homepage-logo{
    width: 75px;
}

.userInfo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.displayPhoto{
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
    width: 200px;
    height: 200px;
}

.displayImg{
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
    width: 200px;
    height: 200px;
}
.displayPhoto{
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
    width: 200px;
    height: 200px;
    resize: 'contain';
    
}

.popup-img{
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
    width: 200px;
    height: 200px;
}
.userFirstName{
    font-size: xx-large;
}

.nav{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.button-settings{
    border: 0px;
    font-size: medium;
    font-family: 'Acme', sans-serif;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.button-home{
 border: 0px;
    font-size: medium;
    font-family: 'Acme', sans-serif;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.button-profile{
 border: 0px;
    font-size: medium;
    font-family: 'Acme', sans-serif;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.button-logout{
 border: 0px;
    font-size: medium;
    font-family: 'Acme', sans-serif;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.button-inbox{
    border: 0px;
       font-size: medium;
       font-family: 'Acme', sans-serif;
       background-color: white;
       padding: 10px;
       cursor: pointer;
       border-radius: 20px;
   }

.button-home:hover, .button-home:focus, .button-home:active{
    background-color:  rgba(58, 124, 165, 0.27);

}
.button-profile:hover, .button-profile:focus, .button-profile:active{
    background-color:  rgba(58, 124, 165, 0.27);

}
.button-logout:hover, .button-logout:focus, .button-logout:active{
    background-color:  rgba(197, 15, 15, 0.3);

}
.button-settings:hover, .button-settings:focus, .button-settings:active{
    background-color:  rgba(58, 124, 165, 0.27);

}

.button-inbox:hover, .button-inbox:focus, .button-inbox:active{
    background-color:  rgba(58, 124, 165, 0.27);

}

.btn{
    min-width: 70px;
}

.spotifyImg{
    margin: 0;
    border-radius: 50%;
    width: 50x;
    height: 50px;
    cursor:pointer;
    transition-duration: .3s;
}

.spotifyBtn{
    background:none ;
    border: none;
}

.spotifyBtn::after, .spotifyBtn:hover, .spotifyBtn:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/*Right*/
.main-content{
    display: flex;
    justify-content: center;
    width: 75%;
    /*background: linear-gradient(to left, #3a7ca5, rgba(255, 255, 255, 0)); */
}

.homepage-content{
    margin:auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.247); 
    width: 40%;
    max-width: 30%;
    height: 80%; ;
    background-color: rgba(255, 255, 255, 0.5);
}

.profileLayout{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-width: 270px;
}

.userPref{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.userBio:empty::before{
    content: "Add Bio";
}

.userBio{
    margin: 10px
}

.userTopSongs{
    display: flex;
    flex-flow: row nowrap;
}

.testSong{
    margin:5px;
    width: 50px;
    height: 50px;
    background-color: grey;
}

.userChoice{
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userChat{
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.swipe{
    width: 35px;
}

.userSettings{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioInput{
    margin-top: 30px;
    max-width: 95%;
    max-height: 70%;
    border: 1px solid lightblue;
    resize: vertical;
    width: 100%;
    height: 80%;
    min-height: 20px;
}

.bioButton{
    width: 90px;
    margin: 20px;
}

.bioDiv{
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 200px;
    max-width: 100%;
}

.image-upload{
    margin-top: 60px;
}


@media screen and (max-width: 900px){       /* landing page for small screens*/
    .right{
        display: none;
    }

    .flexSide{
        width: 100%;
    }

    .content-wrapper{
        display: block;   
    }

    .homepageContainer{
        width: 100%;
    }

    .homepageHeader{
        display: none;
    }

    .displayImg{
        width: 100px;
        height: 100px;
    }

    .displayPhoto{
        width: 100px;
        height: 100px;
    }

    .userFirstName{
        display: none;
    }


}

